body {
    background: linear-gradient(to right, rgb(73, 6, 160), rgb(248, 163, 5));
}

input {
    height: 28px;
    width: 250px;
    margin: 5px;
}

.container {
    text-align: center;
    
}

.form{
    margin: 200px 0;
    display: inline-block;
    border: 3px solid white;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 150px;
    transition: 0.5s;
}

.form:hover {
    transform: scale(1.05);
    box-shadow: 3px 1px 10px rgba(75, 39, 39, 0.578);
}







